# Astro Build Output and
# Astro automatic Generated types
.astro/
dist/

# NodeJS dependencies
node_modules/

# Log Files
*.log

# Environment Variables
.env
.env.production

# System Specific files
.DS_Store
Thumbs.db
db.json

# Visual Studio Code Specific files
# .vscode
.vscode/extensions.json
.vscode/settings.json

# contents

src/content/*
