---
import HowToAddHyperlinksHere from "@/instructions/how-to-add-hyperlinks-here.md";
import "@/styles/standardBlogPage.scss";
---

<div>
  <article class="markdown-main-style">
    <HowToAddHyperlinksHere />
  </article>
</div>
