---
import HowToAddHyperlinksHere from "@/content/instructions/how-to-add-hyperlinks-here.md";
---

<h2>添加友链</h2>
<h4>Add your hyperlink to here</h4>

<article prose>
<HowToAddHyperlinksHere />
</article>


