---
interface Props {
  name: string;
  content: string;
  reachUrl: URL;
  imageUrl: string; // URL
}
const { name, content, imageUrl: imageURL, reachUrl: reachURL = "#" } = Astro.props;
import "@/style/colorProfileStyle.css";
---

<a href={reachURL} target="_blank" my-2 b-rd-2xl decoration-none>
  <div
    flex
    items-center-safe
    gap-2
    b="blueGray solid 1 rd-2xl"
    bg="hover:[--cp-100]"
    active:scale-98
    transition-property-all
    transition-duration-300
  >
    <img
      src={imageURL}
      alt=""
      loading="lazy"
      h-12
      w-12
      p-2
      rounded-full
      object-cover
    />
    <div>
      <span font-bold text="sm white">{name}</span>
      <p my-0 text="white/50">{content}</p>
    </div>
  </div>
</a>
