---
import { items } from "../content/introTexts";
---

{
  items.map(({ header, header_eng, content }) => (
    <section class="mb-12">
      <h2 class="text-2xl font-semibold m-0 mb-0">{header}</h2>
      <h6 class="text-sm font-bold m-0 mb-2 underline underline-coolGray">
        {header_eng}
      </h6>
      <p class="text-gray-700 leading-relaxed mb-3" set:html={content} />
    </section>
  ))
}
