---
import Sun from "@lucide/astro/icons/sun";
import Moon from "@lucide/astro/icons/moon";
import SunMoon from "@lucide/astro/icons/sun-moon";
import Palette from "@lucide/astro/icons/palette";
---

<button
  id="theme-manager-button"
  class="w-12 h-12 p-0 border-none bg-transparent hover:bg-blue transition-all b-rd-md active:scale-90"
  ><Palette class="m-a pt-1" /></button
>
<div
  id="theme-manager"
  class="absolute right-12 top-20 bg-blue hidden b-rd-2"
  id="theme-manager"
>
  <div class="theme-controller mx-4 mt-4 grid grid-auto-cols-56">
    <div class="min-w-full font-baseFont m-1">
      <label>主题色</label>
      <label class="m-a">Color</label>
    </div>

    <input
      type="range"
      name="theme"
      id="theme-slider"
      min="0"
      max="360"
      step="2"
      value="275"
      class="theme-slider w-full h-5 b-rd-1"
    />
  </div>

  <button
    id="theme-toggle"
    class="p-2 rounded bg-transparent m-4 border bg-transparent transition-all b-rd-md active:scale-90"
  >
    <SunMoon class="accent-cyan" />颜色模式</button
  >
</div>

<style>
  .theme-slider {
    -webkit-appearance: none;
    background: linear-gradient(
      to right,
      oklch(0.77 0.11 0),
      oklch(0.77 0.11 60),
      oklch(0.77 0.11 120),
      oklch(0.77 0.11 180),
      oklch(0.77 0.11 240),
      oklch(0.77 0.11 300),
      oklch(0.77 0.11 360)
    );
  }
  .theme-slider::-webkit-slider-thumb,
  .theme-slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 12px;
    border-radius: 3px;
    background: white;
    border: none;
  }
</style>

<script>
  import { applyThemeColor } from "../utils/customizationUtils/themeUtils.ts";
  // Buttons Here
  const slider = document.getElementById("theme-slider");
  const toggle = document.getElementById("theme-toggle");

  // Frameworks Here
  const themem = document.getElementById("theme-manager");
  const html = document.documentElement;

  // 读取本地存储或系统偏好
  const savedTheme = localStorage.getItem("theme");
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

  let currentTheme = savedTheme || (prefersDark ? "dark" : "light");

  const applyTheme = (theme: string) => {
    if (theme === "dark") {
      html.classList.add("dark");
    } else {
      html.classList.remove("dark");
    }
    localStorage.setItem("theme", theme);
  };

  applyTheme(currentTheme);

  toggle?.addEventListener("click", () => {
    currentTheme = currentTheme === "dark" ? "light" : "dark";
    applyTheme(currentTheme);
  });
  slider?.addEventListener("input", (e) => {
    const target = e.target;
    if (target instanceof HTMLInputElement) {
      const color = target.valueAsNumber;
      applyThemeColor(color);
    }
  });

  document
    .getElementById("theme-manager-button")
    ?.addEventListener("click", () => {
      showThemeManager();
    });

  function showThemeManager() {
    console.log(1);
    themem?.classList.toggle("hidden");
  }
</script>
