<div>
  <p m-0>&copy; 2026 CILXRY. All Systems operational.</p>
  <a href="#" link>&gt; Status: Not Registering at MIIT yet</a><br />
  <a href="#" link>&gt; RSS: Offline</a><br />
  <a href="#" link>&gt; Sitemap is unavailable now</a>
</div>
