<footer class="flex text-bluegray text-xs mt-10 w-full">
  <div class="mr-a">
    <p>This may a full fronted Project.</p><p>Your UA is:</p><p id="ua"></p>
  </div>
  <div class="m-a">
    <p>&copy; 2026 CILXRY</p>
    <a href="https://beian.miit.gov.cn" target="_blank">沪ICP备12345678号</a>
  </div>
  <div class="ml-a text-right m-3">
    <p>
      欢迎通过邮箱联系我 👉 <a
        href="mailto:cilxry@outlook.com"
        class="text-inherit">cilxry@outlook.com</a
      >
    </p>
    <p>
      The Website was made with <a
        href="https://astro.build/"
        class="text-inherit">Astro</a
      > and <a href="https://unocss.nodejs.cn/" class="text-inherit">UnoCSS</a>.
    </p>
  </div>
  <p></p>
</footer>

<script>
  const uaStr = document.getElementById("ua");
  if (uaStr) uaStr.textContent = navigator.userAgent;
</script>
