---
import ThemeSwitch from "../components/theme_switch.astro";
---

<header class="m-3 w-full pos-fixed z-1 text-gray">
  <a
    class="text-4xl md:text-2xl font-bold tracking-tight font-mono text-inherit decoration-none"
    href="/"
  >
    CILXRY
  </a>

  <!-- 在 <head> 或 <body> 上方插入 -->
  <nav class="fixed top-4 right-4 flex space-x-6 text-sm font-medium">
    <a href="#" class="text-inherit decoration-none">我觉得</a>
    <a href="#" class="text-inherit decoration-none">以后</a>
    <a href="#" class="text-inherit decoration-none">会在这里</a>
    <a href="#" class="text-inherit decoration-none">加个链接</a>
    <ThemeSwitch />
  </nav>
</header>
