---
import ThemeSwitch from "../components/theme_switch.astro";
---

<header class="m-3 w-full flex z-1 justify-between text-gray flex-items-center flex-content-center">
  <a
    class="text-2xl font-bold tracking-tight font-mono text-inherit decoration-none"
    href="/"
  >
    CILXRY
  </a>

  <nav class="top-4 right-4 flex space-x-6 text-sm font-medium flex-items-center">
    <!-- <a href="#" class="text-inherit decoration-none">我觉得</a>
    <a href="#" class="text-inherit decoration-none">以后</a>
    <a href="#" class="text-inherit decoration-none">会在这里</a>
    <a href="#" class="text-inherit decoration-none">加个链接</a> -->
    <a href="https://github.com/CILXRY" class="text-inherit decoration-none"
      >GitHub</a
    >
    <ThemeSwitch />
  </nav>
</header>
