---
import BasePageLayout from "../layouts/BasePageLayout.astro";
---

<BasePageLayout>
  <div class="m">
    <h2>Moments</h2>
    <div b-b-solid b-1 b-b-blueGray my-4>
      <div flex text-center align-mid w-full>
        <img src="src/pages/CILXRY.jpg" alt="" h-8 w-8 rounded-md />
        <header my-a mx-3>CILXRY</header>
        <div my-a ml-a>2026-02-22 11:33</div>
      </div>
      <div p-2>我在我在我在我在我在我在我在我在</div>
    </div>
  </div>
</BasePageLayout>
