---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Record</title>
  </head>
  <body>
    <!-- 一个游戏记录的页面 -->
  </body>
</html>
